
# DJANGO ===========================================

# avant la prod generer une nouvelle cle 
    #  docker compose exec web python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=ici-la-cle

DEBUG=True


# POSTGRES =========================================

POSTGRES_USER=truc
POSTGRES_PASSWORD=truc
POSTGRES_DB=truc

# pour settings dj
POSTGRES_HOST=truc
POSTGRES_PORT=5432

# pour setting allowed 
ALLOWED_HOSTS=127.0.0.1,localhost

# Pour CLOUDINARY le systeme pour stocker les images:

CLOUDINARY_CLOUD_NAME=cloudname
CLOUDINARY_API_KEY=cloudkey
CLOUDINARY_API_SECRET=cloudsecret


