
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
   <!-- ici on a deux contexts value:

        - form = le formulaire pour entrer le new pw ( 2 champs : reecrire le mdp )
        - validlink = bool : True le token est valid , False token foire donc refus 
   -->

    <h1>New Password</h1>

    {% if validlink %}
    <h3>Enter the new password:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Go</button>
    </form>

    {% else %}
    <h1>Invalid link!</h1>
    <p>
        Invalid link: bad token or expired link.
    </p>
    <a href="{% url 'password_reset' %}">Ask new link.</a>

    {% endif %}


   
{% endblock %}
    

